version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: card-approval-api
    env_file:
      - .env
    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./gcp-key.json:/app/gcp-key.json:ro
    restart: unless-stopped
    network_mode: "host"  # Use host network to access K8s port-forwards
